config = {
        "name": "Sheldon 1",
        "xy_axis": "COM4",
        "zg_axis": "COM3"
        }

cmdLib = {
        'home': [0, 0, 0, 0, 4, 4],
        'home_plane': [0, 0, 0, 0, 4, 0],
        'home_z': [0, 0, 0, 0, 1, 4],
        'psOn': [0, 0, 0, 0, 1, 0],
        'psOff': [0, 0, 0, 0, 0, 0],
        'logging': [0, 0, 0, 0, 10, 0],
        '_logging': [0, 0, 0, 0, 11, 0],
        'grip': [0, 0, 0, 0, 1, 6], 
        'release': [0, 0, 0, 0, 1, 5]
        }